*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    background-color: bisque;
    padding: 10px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto ;
    align-content: center;
    justify-content: space-around;
    row-gap:10px;
    column-gap: 10px;
    width: 37%;
    margin:auto;
}

.card {
    position: relative;
    width: 100px;
    height: 125px;
    align-items: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.face{
    position: absolute;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    border-radius: 10px;
    background-color: white;
}

.front-toggle{
    transform: perspective(500px) rotateY(180deg);
}

.back {
    transform: perspective(500px) rotateY(180deg);
}

.back-toggle{
    transform: perspective(500px) rotateY(360deg);
}





